*.bak
tags
.DS_Store

docker/dbdata/

__pycache__
api/.coverage
api/public/static
api/public/media
api/public/clients
api/public/client
api/_build/
api/init.sql
api/cover/
api/deps/
api/doc/
api/.fetch
api/priv/static/
